# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
.idea/
.vs/
.vscode/

# ASP.NET specific
# Ignore web.config transformations
web.config.transform
appsettings.Development.json
appsettings.Production.json

# Build Folders
bin/
obj/

# Packages
*.nupkg
# Ignore NuGet specific folders
packages/
.nuget/

# Logs
*.log

# IIS Express
/IISExpress/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Visual Studio for Mac
.vscode/

# .NET Core
project.lock.json
project.fragment.lock.json

# ASP.NET Core settings
# Ignore appsettings secrets file
appsettings.json
